#grid {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  width: 80vh;
  height: 80vh;
  border: 2px solid black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
